<div class="dots">
  <h1 class="header__title">Watch this space...</h1>
  <br>
  <div id="content" class="timer" style="text-align: center;" data-content-field="main-content" data-collection-id="585c64f137c5816afcb642e7" data-edit-main-image="Banner">
    <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1483464902227" id="page-585c64f137c5816afcb642e7">
      <div class="row sqs-row">
        <div class="col sqs-col-12 span-12">
          <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-82abfe862cb09836c0fd">
            <div class="sqs-block-content"></div>
          </div>
          <div class="sqs-block code-block sqs-block-code" data-block-type="23" id="block-yui_3_17_2_8_1483437049739_8605">
            <div class="sqs-block-content">
              <div id="timer">
                <div id="days" class="counter"></div>
                <div id="hours" class="counter"></div>
                <div id="minutes" class="counter"></div>
                <div id="seconds" class="counter"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">#mc_embed_signup .button {background-color: #4d4d4d;} #mc_embed_signup form {
    margin-top: 30%;}
	</style>
<div id="mc_embed_signup">
<form action="//kirstynandkirstyn.us13.list-manage.com/subscribe/post?u=4f5461fe75556d88be395190b&amp;id=2d0c830769" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your email address..." required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4f5461fe75556d88be395190b_2d0c830769" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Update me" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
  <p class="header__subtitle">Please note we require participants in the auction to verify their identity in compliance with OFAC regulation, read more here. <br><br>You can pre-verify you wallet using the button below</p>
</div>
<script>
  function makeTimer() {

    var endTime = new Date("September 15, 2017 12:00:00 EST");
    var endTime = (Date.parse(endTime)) / 1000;

    var now = new Date();
    var now = (Date.parse(now) / 1000);

    var timeLeft = endTime - now;

    var days = Math.floor(timeLeft / 86400);
    var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
    var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);
    var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

    if (hours < "10") {
      hours = "0" + hours;
    }
    if (minutes < "10") {
      minutes = "0" + minutes;
    }
    if (seconds < "10") {
      seconds = "0" + seconds;
    }

    $("#days").html(days + "<span>days</span>");
    $("#hours").html(hours + "<span>hours</span>");
    $("#minutes").html(minutes + "<span>minutes</span>");
    $("#seconds").html(seconds + "<span>seconds</span>");

  }

  setInterval(function() {
    makeTimer();
  }, 1000);
</script>
