<div container>
<div class="col-md-12 friends-icons">
<div class="row">
  <div class="col-md-2">
      <img src="/assets/icon-left.svg" alt="...">
  </div>
  <div class="col-md-1 _008_video_wall">
      <img src="/assets/icon-1.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-2.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-3.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-4.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-5.svg" alt="...">
  </div>
  <div class="col-md-2">
      <img src="/assets/icon-right.svg" alt="...">
  </div>
</div>
<div class="row row-two">
  <div class="col-md-2">
      <img src="/assets/icon-left.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-6.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-7.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-8.svg" alt="...">
  </div>
  <div class="col-md-1">
      <img src="/assets/icon-9.svg" alt="...">
  </div>
  <div class="col-md-2">
      <img src="/assets/icon-right.svg" alt="...">
  </div>
</div>
</div>
</div>
