<h6>Polkadot is a protocol that allows <b>independent blockchains</b> to exchange information. Polkadot is an <b>inter-chain blockchain protocol</b> which unlike internet messaging protocols (e.g. TCP/IP) also enforces the order and the validity of the messages between the chains. This <b>inter-operability</b> also allows the additional benefit of <b>scalability</b> by creating a general environment for multiple state machines.</h6>
 <center><a href="https://github.com/w3f/polkadot-white-paper/raw/master/PolkaDotPaper.pdf" class="feature__button bg--magenta mb" role="button">Read the Whitepaper</a></center>
<div class="features-table pt">
                        <div class="features-row">
                            <div class="features-cell">

                                <div class="text-center">
                                    <img src="assets/Validators.svg" alt="" class="img centered" style="max-width:60%">
                                </div>
                                <h4>Validators</h4>
                                <p>
                                    Secure the relay chain by staking DOTs, validating proofs from collators and participating
                                    in consensus with other validators.
                                </p>
                            </div>
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Nominators.svg" alt="" class="img centered" style="max-width:60%">
                                </div>
                                <h4>Nominators</h4>
                                <p>
                                    Secure the relay chain by selecting good validators and staking DOTs
                                </p>
                            </div>
                        </div>
                        <div class="features-row">
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Collators.svg" alt="" class="img centered" style="max-width:60%">
                                </div>
                                <h4>Collators</h4>
                                <p>
                                    Maintain parachains by collecting parachain transactions from users and producing state transition proofs for validators
                                </p>
                            </div>
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Fishermen.svg" alt="" class="img centered" style="max-width:60%">
                                </div>
                                <h4>Fishermen</h4>
                                <p>
                                    Final security frontier, they monitor the network and prove bad behaviour to validators
                                </p>
                            </div>
                        </div>
                    </div>
