<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="assets/Validators.svg" alt="Validators">
      <div class="caption">
        <h3>Validators</h3>
        <p>...</p>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="assets/Nominators.svg" alt="Nominators">
      <div class="caption">
        <h3>Nominators</h3>
        <p>...</p>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="assets/Collators.svg" alt="Collators">
      <div class="caption">
        <h3>Collators</h3>
        <p>...</p>
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <img src="assets/Fishermen.svg" alt="Fishermen">
      <div class="caption">
        <h3>Fishermen</h3>
        <p>...</p>
        </div>
    </div>
  </div>
</div>
