<div class="features-table">
                        <div class="features-row">
                            <div class="features-cell">

                                <div class="text-center">
                                    <img src="assets/Validators.svg" alt="" class="image">
                                </div>
                                <h4 class="text-primary-dark ">Validators</h4>
                                <p>
                                    Secure the relay chain by staking DOTs, validating proofs from collators and participating
                                    in consensus with other validators.
                                </p>
                            </div>
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Nominators.svg" alt="" class="image">
                                </div>
                                <h4 class="text-primary-dark ">Nominators</h4>
                                <p>
                                    Secure the relay chain by selecting good validators and staking DOTs
                                </p>
                            </div>
                        </div>
                        <div class="features-row">
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Collators.svg" alt="" class="image">
                                </div>
                                <h4 class="text-primary-dark ">Collators</h4>
                                <p>
                                    Maintain parachains by collecting parachain transactions from users and producing state transition proofs for validators
                                </p>
                            </div>
                            <div class="features-cell">
                                <div class="text-center">
                                    <img src="assets/Fishermen.svg" alt="" class="image">
                                </div>
                                <h4 class="text-primary-dark ">Fishermen</h4>
                                <p>
                                    Final security frontier, they monitor the network and prove bad behaviour to validators
                                </p>
                            </div>
                        </div>
                    </div>
