---
layout: default
---

{% for feature in page.features %}
  <div class="featureWrap{% if feature.unpad == 'bottom' %} featureWrap--unpadBottom{% endif %} bg--{{ feature.background | default:'pink' }}">
    <section class="feature feature--{{ feature.width }} {{ feature.handle }}">
      {% if feature.title %}<h2 class="feature__title">{{ feature.title }}</h2>{% endif %}
      {% if feature.subtitle %}<h3 class="feature__subtitle">{{ feature.subtitle }}</h2>{% endif %}
      {% if feature.body %}<p class="feature__body">{{ feature.body }}</h2>{% endif %}
      {% case feature.handle %}
        {% when 'manage' %}
          <div class="manage__content">
            <div class="manage__figures">
              {% for subsection in feature.subsections %}
                <figure class="manage__figure{% if forloop.first == true %} shown{% endif %}" data-handle="{{ subsection.handle }}">
                  {{ subheading | markdownify }}
                  {{ body | markdownify }}
                  <img src="{{ subsection.image }}" />
                </figure>
              {% endfor %}
            </div>
            <div class="manage__tabs">
              {% for subsection in feature.subsections %}
                <div class="manage__tab{% if forloop.first == true %} active{% endif %}" data-handle="{{ subsection.handle }}">
                  <h5>{{ subsection.title }}</h5>
                  {{ subsection.body | markdownify }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% when 'develop' %}
          {% for subsection in feature.subsections %}
            <div class="develop__subsection">
              <div class="develop__subsection__content">
                {{ subsection.body | markdownify }}
                {% if subsection.logos %}
                  <img src="{{ subsection.logos.image }}" alt="{{ subsection.logos.title }}" class="develop__logos" />
                {% endif %}
              </div>
              <figure class="develop__subsection__figure">
                <img src="{{ subsection.image }}" />
              </figure>
            </div>
          {% endfor %}
          {% when 'token' %}
            {% for subsection in feature.subsections %}
              <div class="develop__subsection">
                <div class="develop__subsection__content">
                  {{ subsection.body | markdownify }}
                  {% if subsection.logos %}
                    <img src="{{ subsection.logos.image }}" alt="{{ subsection.logos.title }}" class="develop__logos" />
                  {% endif %}
                </div>
                <figure class="develop__subsection__figure">
                  <img src="{{ subsection.image }}" />
                </figure>
              </div>
            {% endfor %}
            {% when 'roadmap' %}
              {% for subsection in feature.subsections %}
                <div class="roadmap__subsection">
                  <figure class="roadmap__subsection__figure">
                    <img src="{{ subsection.image }}" />
                  </figure>
                </div>
              {% endfor %}
          {% when 'video' %}
            {% for subsection in feature.subsections %}
              <div class="develop__subsection">
                <figure class="develop__subsection__figure">
                  <img src="{{ subsection.image }}" />
                </figure>
                <div class="develop__subsection__content">
                  {{ subsection.body | markdownify }}
                  {% if subsection.logos %}
                    <img src="{{ subsection.logos.image }}" alt="{{ subsection.logos.title }}" class="develop__logos" />
                  {% endif %}
                </div>
              </div>
            {% endfor %}
        {% when 'free' %}
          <div class="free__subsections">
            {% for subsection in feature.subsections %}
              <div class="free__subsection">
                {{ subsection.image }}
                <h5>{{ subsection.title }}</h5>
                <small>{{ subsection.body | markdownify }}</small>
              </div>
            {% endfor %}
          </div>
        {% when 'how' %}
          <img src="{{ feature.image }}" style="text-align: center;" alt="{{ feature.title }}"/>
          <a href="https://github.com/w3f/polkadot-white-paper/raw/master/PolkaDotPaper.pdf" class="feature__button bg--dark-gray" role="button">Read the Whitepaper</a>
        {% when 'outro' %}
          {{ feature.body | markdownify }}
      {% endcase %}
      {% if feature.button %}<a href="{{ page.button.url }}" class="feature__button bg--blue">{{ page.button.title }}</a>{% endif %}
    </section>
  </div>
{% endfor %}

<div id="videoModal" class="modal">
  <div class="modal__body">
    <div class="modal__video">
      <iframe src="https://player.vimeo.com/video/169542999?api=1" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="intro"></iframe>
    </div>
  </div>
</div>
