@font-face {
  font-family: 'Larsseit';
  font-style: normal;
  src:  url('/assets/fonts/Larsseit.ttf') format('ttf');

}
@font-face {
  font-family: 'DINCompPro';
  font-weight: normal;
  src:  url('/assets/fonts/DINCompPro.ttf') format('ttf');
}
